:root {
  --primary-color: #f2f2f2;
  --secondary-color: rgb(5, 69, 119);
  --complementary: #fff;
  --text-color: rgb(36, 35, 35);
  --logo-color: rgb(252, 214, 4);
  --input-border: rgb(109, 148, 179);
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  user-select: none;
  font-size: 20px;
}

body {
  background: url('../../images/pass_reset.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

.form-container {
  width: min(450px, 90%);
  padding: 40px;
  background-color: var(--complementary);
  border-radius: 4px;
  box-shadow: 6px 6px 30px rgba(0,0,0, 0.2);
}

form input {
  width: 100%;
  padding: 11px;
  margin-bottom: 8px;
  outline: none;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
}

form input[type*="submit"]{
  background-color: var(--secondary-color);
  color: var(--complementary);
  margin-top: 20px;
}

.form-container h1 {
  font-size: 40px;
  text-align: center;
  color: var(--secondary-color);
}

.form-container p {
  color: grey;
  text-align: center;
  margin: 40px 0;
}

.signup p a {
  margin-left: 3px;
  color: var(--secondary-color);
}



