{% extends 'file_server/base.html'%}

{% load static %}

{% block stylesheet%}
<link rel="stylesheet" href="{% static 'styleSheets/lizzy_server/details.css'%}">
{% endblock%}


{% block content %} 
<h1>{{document.title}}</h1>
<div class="container">
  <div class="file-card">
    <div class="image">
      <img src="{% static 'images/PDF-image.png'%}" alt="">

      {% if %}
    </div>
    <div class="description">
      <p>
        {{document.description}}
       
      </p>
    </div>
  </div>
  <div class="pre-down">
    <a href="{{ document.file.url }}"><button><i class="bi bi-eye"></i>Preview</button></a>
    
    <a href="{{document.file.url}}" download="file"><button><i class="bi bi-download"></i>Download</button>
    </a>
  </div>
</div>
{%endblock%}
