@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

img {
  pointer-events: none;
  width: min(400px, 100%);
  border-radius: 4px 4px 0 0;
  height: 400px;
  object-fit: cover;
  display: flex;
  margin: auto;
}

.image {
  background-color: #fff;
  border-radius: 5px;
}

h1 {
  padding: 20px;
  text-align: center;
  font-size: 1.8em;
}

.container {
  width: min(600px, 90%);
  margin: 30px auto;
}
.description {
  background-color: #f2f2f2;
  padding: 12px;
}

.pre-down {
  margin-top: 12px;
}

.pre-down > a {
  display: inline-block;
  background-color: rgb(245, 75, 37);
  margin-right: 8px;
  padding: 12px;
  border-radius: 4px;
  color: white;
  text-align: left;
  text-decoration: none;
}

.pre-down .download,
.share {
  display: inline-block;
  padding: 12px;
  border-radius: 4px;
  background-color: green;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.pre-down .share {
  background-color: royalblue;
  padding: 12px;
  padding-right: 20px;
  text-align: left;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal .container {
  background-color: #f2f2f2;
  width: min(400px, 90%);
  height: 400px;
  position: relative;
  padding: 50px 20px;
  border-radius: 4px;
}

.modal .container input {
  padding: 12px;
  display: block;
  position: relative;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
}

.modal.active {
  display: flex;
}

.modal .container input[type="submit"] {
  margin-top: 20px;
  background-color: green;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 441px) {
  .pre-down a,
  .pre-down button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

i {
  margin-right: 4px;
}

.message {
  padding: 20px;
  background-color: rgba(54, 133, 54, 0.959);
  border-radius: 4px;
  color: white;
  text-align: center;
  width: min(600px, 90%);
  margin: 20px auto;
}