:root {
  --primary-color: #f2f2f2;
  --secondary-color: rgb(5, 69, 119);
  --complementary: #fff;
  --text-color: rgb(36, 35, 35);
  --logo-color: rgb(252, 214, 4);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--primary-color);
  margin-top: 90px;
}

header.head {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

header.scroll {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: min(1500px, 90%);
  margin: auto;

  overflow: hidden;
}

.navigation a {
  text-decoration: none;
  color: var(--complementary);
  font-size: 20px;
}

.logo {
  color: var(--logo-color);
}

#logo {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 23px;
  display: inline-block;
  padding: 20px 0;
}

ul.log-sign {
  list-style: none;
  display: flex;
}

.log {
  margin: 17px;
}

.sign {
  margin: 17px 0 17px 17px;
}

ul.log-sign a {
  position: relative;
}

ul.log-sign a::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: var(--complementary);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

ul.log-sign a:hover::after {
  width: 80%;
}

section {
  padding: 0 20px;
  position: relative;
  margin-top: 40px;
}

.section-1 .col-1 {
  width: 100%;
  font-size: 20px;
  text-align: left;
}

.col-1 h1 {
  font-size: 2.5em;
  margin-bottom: 8px;
  color: var(--text-color);
  font-weight: bold;
}

.col-1 p {
  line-height: 1.5;
}

.section-1 .col-2 {
  width: 100%;
  padding-top: 20px;
}

/* testing */
.footer {
  margin-top: 20px;
  background-color: rgb(5, 69, 119);
  padding: 20px;
  color: white;
  text-align: center;
}

.section-1 img {
  width: 100%;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  nav.navigation {
    display: block;
    position: relative;
    height: 70px;
    transition: height 0.5s;
  }

  .menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
  }

  ul.log-sign {
    display: block;
  }

  ul.log-sign li {
    display: block;
    padding: 12px 8px;
    border-radius: 4px;
    margin: 15px 0;
  }

  ul.log-sign li:hover {
    background-color: royalblue;
  }

  ul.log-sign li a {
    display: block;
    padding: 0px 0;
  }

  ul.log-sign li a::after {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .section-1 {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
  }

  .section-1 [class*="col"] {
    width: min(600px, 90%);
  }

  .menu {
    display: none;
  }

  nav.navigation {
    height: 70px;
  }
}

/* testing */
.timeline {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

.timeline .container.right {
  left: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  height: 50%;
  width: 4px;
  background-color: rgb(5, 69, 119);
}

.timeline .container {
  position: relative;
  width: 50%;
  left: 0;
  padding: 20px 40px;
}

.text {
  padding: 12px;
  background-color: rgb(5, 69, 119);
  border-radius: 4px;
  position: relative;
  color: white;
}

.text h1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

.text small {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 8px;
}

.circle {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(5, 69, 119);
  right: -20px;
  top: 24px;
  border-radius: 50%;
  z-index: 1;
}

.timeline .container.right .circle {
  left: -20px;
}

.text .arrow {
  height: 0;
  width: 0;
  position: absolute;
  display: inline-block;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid rgb(5, 69, 119);
  top: 12px;
  right: -10px;
}

.timeline .container.container.right .text .arrow {
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid rgb(5, 69, 119);
  border-left: 15px solid transparent;
  left: -25px;
}

main {
  margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
  .timeline .container,
  .timeline .container.right {
    width: 100%;
    left: 0;
  }

  .container .text .arrow,
  .timeline .container .circle,
  .timeline::after {
    display: none;
  }
}
